* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: none;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

html {
	background: url("mapa.jpg") no-repeat fixed;
	background-size: 100% 100%;
	font-family: 'Dosis', sans-serif;
}

header {
	position: relative;
	font-size: 2em;
	margin-top: 0.1em;
	text-align: center;
}

.select-map {
	position: relative;
	margin-top: 10em;
	text-align: center;
}

.select-map h2 {
	margin: 0.3em 0 0.3em 0;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	color: #fff;
}

.select-map select {
	position: relative;
	width: 24em;
	height: 2em;
	font-size: 1.3em;
	padding-left: 1em;
}

.btnGerar {
	position: relative;
	display: block;
	color: #fff;
	background-color: #111;
	font-size: 1.25em;
	width: 25em;
	height: 2em;
	margin: 1.5em auto;
	webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.btnGerar:hover {
	color: #111;
	background-color: #eee;
	webkit-transition: background-color 0.8s;
	transition: background-color 0.8s;
}

.btnGerar:active {
	color: #fff;
	background-color: #111;
	webkit-transition: background-color 0.4s;
	transition: background-color 0.4s;
}

@media screen and (max-width: 512px) {
	.select-map select {
		width: 100%;
	}
	.btnGerar {
		width: 100%;
	}
}

@media screen and (max-height: 560px) {
	.select-map {
		margin-top: 5em;
	}
}

@media screen and (max-width: 480px) {
	.select-map {
		margin-top: 2em;
	}
	.select-map h2 {
		margin: 0.1em 0 0.1em 0;
		font-size: 1.3em;
		letter-spacing: 0;
	}
	.btnGerar {
		margin: 1em auto;
	}
}