* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: none;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

html {
	background: url("mapa.jpg") no-repeat fixed;
	background-size: 100% 100%;
	font-family: 'Dosis', sans-serif;
}

.inHeader {
	position: relative;
	font-size: 2em;
	margin-top: 0.1em;
	text-align: center;
}


.roHeader {
	font-size: 1.5em;
	text-align: left;
	margin-left: 0.5em;
}


.inSelect-map {
	position: relative;
	margin-top: 10em;
	text-align: center;
}
.inH2 {
	margin: 0.3em 0 0.3em 0;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	color: #fff;
}
.inSelect {
	position: relative;
	width: 24em;
	height: 2em;
	font-size: 1.3em;
	padding-left: 1em;
}


.roSelect-map {
	position: relative;
	margin: 1em auto;
	width: 79em;
	height: 5.5em;
}
.roH2 {
	margin: 0.3em 0 0.3em 0.3em;
	font-size: 1.3em;
	letter-spacing: 0em;
	width: 14.5em;
	display: inline;
	color: #fff;
}
.roSelect {
	width: 8em;
	height: 1.5em;
	font-size: 1em;
	padding: 0.1em 0 0.1em 0.5em;
}


.inBtnGerar {
	position: relative;
	display: block;
	color: #fff;
	background-color: #111;
	font-size: 1.25em;
	width: 25em;
	height: 2em;
	margin: 1.5em auto;
	webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}
.inBtnGerar:hover {
	color: #111;
	background-color: #eee;
	webkit-transition: background-color 0.8s;
	transition: background-color 0.8s;
}
.inBtnGerar:active {
	color: #fff;
	background-color: #111;
	webkit-transition: background-color 0.4s;
	transition: background-color 0.4s;
}

.btnCenter {
	width: 15em;
	margin: 0 auto;
	background-color: red;
	height: 3em;
}
.roBtnGerar {
	position: relative;
	display: block;
	margin-top: 0.5em;
	color: #fff;
	background-color: #111;
	padding: 0.1em;
	font-size: 1em;
	width: 100%;
	height: 3em;
	right: 0;
	webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}
.roBtnGerar:hover {
	color: #111;
	background-color: #eee;
	webkit-transition: background-color 0.8s;
	transition: background-color 0.8s;
}
.roBtnGerar:active {
	color: #fff;
	background-color: #111;
	webkit-transition: background-color 0.4s;
	transition: background-color 0.4s;
}

.resultado {
	position: relative;
	margin: 2em auto;
	width: 90%;
	height: 43em;
	background-color: #fff;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.rota {
	position: absolute;
	width: 20%;
	height: 96%;
	background-color: red;
	margin: 1%;
}

.melhor_rota {
	width: 98%;
	height: 4em;
	background-color: black;
	text-align: center;
	color: white;
}
.melhor_rota span {
	margin-top: 1em;
}

.melhor_rota_cid {
	height: 86%;
	margin-top: 5em;
}
.melhor_rota_cid p {
	font-size: 1em;
	text-align: left;
	margin-left: 1em;
}

.mapa {
	position: absolute;
	width: 77%;
	height: 96%;
	background-color: blue;
	margin: 1%;
	right: 0;
}


@media screen and (max-width: 1080px) {
	.roSelect-map {
		position: relative;
		width: 40.8em;
	}
	.roH2 {
		margin: 0.3em;
		font-size: 1.3em;
		width: 14.5em;
		display: inline-block;
	}
	.roSelect {
		width: 10em;
	}
	.roBtnGerar {
		margin-top: -1.88em;
		padding: 0.1em;
		font-size: 1em;
		width: 8em;
		height: 4em;
	}
}

@media screen and (max-width: 675px) {
	.roHeader {
		text-align: center;
		margin-left: 0;
	}
	.roSelect-map {
		position: relative;
		width: 99%;
		display: block;
		text-align: center;
	}
	.roH2 {
		margin: 0.3em 0 0.3em 0;
		font-size: 1.3em;
		display: block;
		width: 99%;
	}
	.roSelect {
		width: 99%;
	}
	.roBtnGerar {
		position: relative;
		margin-top: 1em;
		padding: 0.1em;
		font-size: 1em;
		width: 99%;
		height: 2.5em;
	}
}

@media screen and (max-width: 512px) {
	.inSelect-map  {
		height: 30em;
	}
	.inSelect {
		width: 99%;
	}
	.inBtnGerar {
		width: 99%;
	}
}

@media screen and (max-height: 560px) {
	.inSelect-map {
		margin-top: 5em;
	}
}

@media screen and (max-width: 480px) {
	.inSelect-map {
		margin-top: 2em;
	}
	.inH2 {
		margin: 0.1em 0 0.1em 0;
		font-size: 1.3em;
		letter-spacing: 0;
	}
	.inBtnGerar {
		margin: 1em auto;
	}
}